{% extends 'base.html' %}
{% block content %}
<main>
    <div class="register-form d-block col-12">
        <div class="container">
            <form action="{% url 'register' %}" method="POST" class="col-6">
                {% csrf_token %}
                <h2>Створення <span>нового</span> користувача</h2>
                <input type="text" name="Name" placeholder="Ім'я" required="">
                <input type="text" name="Surname" placeholder="Прізвище" required="">
                <input type="text" name="Username" placeholder="Логін" required="">
                <input type="email" name="email" placeholder="Email" required="">
                <input type="password" name="password" placeholder="Пароль" required="">
                <input type="password" name="confirm-password" placeholder="Підтвердіть пароль" required="">
                <div class="col-12 d-flex mt-4">
                    <button class="btn--forward" type="submit" value="SIGNUP">Реєстрація</button>
                    <a href ="login">Я вже зареєстрований</a>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}