{% extends 'base.html' %}
{% block content %}
<section class="discounts">
    <div class="container">
        <div class="row my-5">
            <div class="col-12">
                <div class="text-title">
                    Для постійних клієнтів у нашій рієлторській фірмі діє гнучка система знижок. на наші послуги. Ми пропонуємо постійну систему знижок від вартості житла. Також підшуковуємо варіанти , що на дають забудовники по продажу квартир по лояльним цінам
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mt-4 image-container">
                <div class="img-border"></div>
                <img src="{{STATIC_PREFIX}}img/discounts/discounts.jpg" alt="">
            </div>
            <div class="col-6">
                <article class="main-text my-4">
                    Досить часто продаж квартир в Києві відбувається за допомогою агентства нерухомості. Однак, можна купити квартиру в Києві без посередників, безпосередньо у господаря «гостинки» чи елітних апартаментів. На порталі «Столична нерухомість» господарі житла самостійно розміщують власні оголошення про продаж квартири. У кожному разі, купуючи квартиру в Києві через посередників або безпосередньо у господарів, варто пам'ятати, що житлова нерухомість в Києві була і залишається вигідним і надійним капіталовкладенням.
                </article>
                <ul class="list-check ml-5">
                    <li>Знижка до 220 000 грн при 100% оплаті на всі квартири 3 черги</li>
                    <li>100 супер угод! Перший внесок 100000 грн.Знижка до 1000грн/м²</li>
                    <li>100 супер угод! Тільки в травні, купуй житло всього за 14 500 грн/м²</li>
                    <li>Збільшені терміни розтермінування, знижки та інше у АКЦІЇ «ВИГОДА»</li>
                    <li>Купуйте 2-к або 3-к квартиру та отримайте iPhone 11 у подарунок</li>
                    <li>Гарантована знижка до 10% на всі квартири</li>
                    <li>Квартира тижня - знижка 76 692 грн на 2-к квартиру 63,91 м²</li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}