// Background colors
$bg-header--color-primary_1: #f3d43d;
$bg-img-border--color-primary_1: #face36;
$bg-header--color-primary_2: #4e4751;
$bg-footer--color-primary_1: #363636;
$bg-main--color-primary_1: #fafafa; //color before comments
$bg-main--color-primary_2: #fefdf6; //flats-one
$bg-main_tables--color-primary: #f3d43d; //tables

// Text colors

$font-h1--color-primary: #4b434f; //h1
$font-h3--color-primary: #e95138; //h3

$font-span--color-primary: #f3d43d; //span

$font-text-footer--color-primary_1: #ffffff; //Lorem
$font-text-footer--color-primary_2: #f3d43d; //Ipsum
$font-text-footer--color-primary_3: #c4c4c3; //middle zone text
$font-text--color-primary: #4b434f;

// Button colors

$btn--color-primary_1: #4b434f; //button_1
$btn--bg-color-primary_1: #f3d43d;

$btn--color-primary_2--hover: #ffffff; //button_2
$btn--bg-color-primary_2--hover: #f7941e;

$btn--color-primary_3--hover: #4b434f; //button_3
$btn--bg-color-primary_3--hover: #ffffff;

// Default colors
$default--color__1: #ffffff;
$default--color__2: #4b434f;
$default--color__3: rgba(54,54,54,.92); //footer
$default--color__4: rgba(0,0,0,.7); //footer

//Flats bcg

$bcg-border-flats: #f8f8f8;
$bcg-border-pagination: #dadada;
$shadow-pagination: rgba(109, 109, 109, 0.3);



